<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <appender name="NULL" class="ch.qos.logback.core.helpers.NOPAppender"/>

    <logger name="com.alicp" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>